.root {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  position: sticky;
  align-self: flex-start;
  top: 150px;
  width: 100%;
  min-width: 400px;
  max-width: 400px;

  &__postsContainer {
    max-height: 300px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }
}
