@import 'src/styles/util.module.scss';

.root {
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 16px;
  border: none;
  cursor: pointer;

  &.small {
    padding: 12px 24px;

    &__icon {
      font-size: toRem(16);
    }

    &__text {
      font-weight: 500;
      font-size: toRem(16);
    }
  }

  &.large {
    padding: 40px 48px;
  }

  &.large &__icon {
    font-size: toRem(30);
    width: 30x;
  }

  &.large &__text {
    font-weight: 600;
    font-size: toRem(20);
  }

  &.primary {
    background-color: var(--primary);
  }

  &.secondary {
    background-color: var(--bg-main-opacity);
    border: 1px solid var(--border-main);
  }

  &__icon {
    color: var(--white);
    fill: var(--white);
  }

  &__text {
    color: var(--white);
  }
}
