@import 'src/styles/util.module.scss';

.root {
  fill: var(--white);
  cursor: pointer;

  &:hover path {
    transition: fill 0.25s ease-in-out;
    fill: var(--secondary);
  }
}

.share {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 100%;

  &__icon {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    transition: transform 0.25s ease-in-out;

    &:hover {
      transform: translateY(-3px);
    }
  }
}
