@import 'src/styles/util.module.scss';

.root {
  width: 100%;
  padding: 15px 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  &.success {
    color: var(--success);
    background: var(--success);
    background: linear-gradient(
      90deg,
      rgba(58, 167, 109, 0.33126754119616597) 0%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  &.error {
    color: var(--error);
    background: var(--error);
    background: linear-gradient(
      90deg,
      rgba(212, 67, 51, 0.33406866164434523) 0%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  &__message {
    font-size: toRem(13);
  }
}
