@import 'src/styles/util.module.scss';

.root {
  color: var(--white);
  display: flex;
  gap: 5px;
  align-self: flex-start;
  font-size: toRem(13);

  &__field {
    width: 100%;
    padding: 15px 10px;
    background-color: var(--bg-main);
    border: none;
    color: var(--white);

    &:focus {
      outline: none;
    }
  }

  &__checkbox {
    width: unset;
    accent-color: var(--primary);
    cursor: pointer;
    width: 18px;
    height: 18px;
    border-radius: 2px;
  }

  &__error {
    color: var(--error);
    font-size: toRem(12);
    margin-top: 5px;
    word-break: break-word;
  }

  &__success {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--success);
    font-size: toRem(22.5);
  }
}
