@import 'src/styles/util.module.scss';

.root {
  width: 90%;
  max-width: 480px;
  height: 320px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: var(--bg-main-opacity);

  &__basicUploadContainer {
    transition: filter 0.2s ease-in-out;

    &:hover {
      filter: brightness(85%);
    }
  }

  &__labelContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
  }

  &__imageIcon {
    color: var(--white);
    font-size: toRem(15);
  }

  &__chooseText {
    color: var(--white);
    font-size: toRem(13);
    font-weight: 600;
  }

  &__input {
    display: none;
  }

  &__alternativeBinder {
    color: var(--white);
    font-size: toRem(16);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: toRem(12);
    white-space: nowrap;

    &::before,
    &::after {
      content: '';
      width: 20px;
      height: 1px;
      background-color: var(--white-opacity);
      display: inline-block;
    }

    &::before {
      margin-right: 8px;
    }

    &::after {
      margin-left: 8px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    width: 100%;
  }
}
