* {
  /* width */
  &::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: var(--bg-main);
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: var(--scrollbar-bg);
    border-radius: 8px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-bg-hover);
  }
}
