.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 100%;

  & > div:last-child {
    margin-top: 10px;
  }

  &__submitContainer {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}
