@import 'src/styles/util.module.scss';

.root {
  background: var(--primary);
  background: linear-gradient(215deg, var(--primary) 0%, var(--secondary) 100%);
  width: 90%;
  max-width: 480px;
  height: 320px;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  &__basicUploadContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  &__imageIcon {
    color: var(--white);
    font-size: toRem(15);
  }

  &__chooseText {
    color: var(--white);
    font-size: toRem(13);
    font-weight: 600;
  }

  &__alternativeBinder {
    color: var(--white);
    font-size: toRem(16);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: toRem(12);
    white-space: nowrap;

    &::before,
    &::after {
      content: '';
      width: 20px;
      height: 1px;
      background-color: var(--white-opacity);
      display: inline-block;
    }

    &::before {
      margin-right: 8px;
    }

    &::after {
      margin-left: 8px;
    }
  }

  &__dropUploadContainer {
    border: 3px dashed var(--white-opacity);
    width: 60%;
    height: 25%;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__dropText {
    color: var(--white);
    font-size: toRem(13);
    font-weight: 600;
  }
}
