.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  margin: 30px auto;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 15px;
  }

  &__tagsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    max-height: 80px;
    overflow: hidden;
    transition: max-height 0.25s ease-in-out;

    &--active {
      max-height: 1500px;
    }
  }
}
