@import 'src/styles/util.module.scss';

.root {
  transition: filter 0.2s ease-in-out;

  &:hover {
    filter: brightness(85%);
  }

  &__labelContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
  }

  &__imageIcon {
    color: var(--white);
    font-size: toRem(15);
  }

  &__chooseText {
    color: var(--white);
    font-size: toRem(13);
    font-weight: 600;
  }

  &__input {
    display: none;
  }
}
