@import 'src/styles/util.module.scss';

.root {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 50px 10px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;
    max-width: 490px;
  }

  &__contentContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-main-opacity);
    padding: 20px 35px;
    border: 1px solid var(--border-main);
  }

  &__title {
    font-size: toRem(20);
    font-weight: 500;
    color: var(--primary);
    text-align: center;
  }

  &__text {
    font-size: toRem(14);
    font-weight: 500;
    color: var(--text-darker);
    line-height: 22px;
    text-align: center;
  }

  &__logo {
    background: linear-gradient(to right, var(--primary), var(--secondary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
  }

  &__separator {
    width: 20%;
    height: 1px;
    background-color: var(--border-main);
  }

  & > div:last-child {
    width: fit-content;
  }

  &__submitContainer {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}
