.root {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  margin-top: 60px;
  position: relative;

  &__activityPostContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 48px;
  }

  &__trendingContainer {
  }
}
