.root {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;

  &__activityPostContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  &__trendingContainer {
  }
}
