.root {
  background-color: var(--bg-main-opacity);
  padding: 10px;

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__submitContainer {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__footer {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & div:first-child {
      width: fit-content;
    }
  }
}
