@import 'src/styles/util.module.scss';

.root {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 50px 10px;

  &__formContainer {
    background-color: var(--bg-main-opacity);
    padding: 35px;
    border: 1px solid var(--border-main);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
  }

  &__wrapper {
    display: grid;
    gap: 20px;
    width: 90%;
    max-width: 490px;
  }

  &__title {
    font-size: toRem(20);
    font-weight: 500;
    color: var(--primary);
    text-align: center;
  }

  &__text {
    font-size: toRem(14);
    font-weight: 500;
    color: var(--text-darker);
    line-height: 22px;
  }
}
