@import 'src/styles/util.module.scss';

.root {
  background-color: var(--bg-main-opacity);
  padding: 20px 35px;
  border: 1px solid var(--border-main);
  display: flex;
  align-items: center;
  justify-content: center;

  &__preText {
    color: var(--text-darker);
    font-size: toRem(13);
  }
}
