.root {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;

  &__mainContainer {
    display: flex;
    align-items: center;
    gap: 25px;
  }

  &__authContainer {
    display: flex;
    align-items: center;
    gap: 25px;
  }
}
