@import 'src/styles/util.module.scss';

.root {
  width: 100%;
  transition: filter 0.2s ease-in-out;
  display: grid;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;

  &__link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    & > div:first-child {
      flex-basis: 100%;
    }
  }

  &__img {
    width: 100%;
    max-width: 100%;
    height: auto;
    // max-height: 450px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    flex-basis: 100%;
  }

  &__metaContainer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
    padding: 10px 15px;
    background-color: var(--bg-main-opacity);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  &__metaDataWrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
  }

  &__votesContainer,
  &__commentsContainer,
  &__viewsContainer {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  &__metaIcon {
    width: 13px;
    height: auto;
    color: var(--white-opacity);

    & path {
      fill: var(--white-opacity);
      stroke: var(--white-opacity);
    }
  }

  &__metaData {
    color: var(--white-opacity);
    font-size: toRem(12);
    font-weight: 600;
  }

  &__title {
    color: var(--white);
    font-size: toRem(13);
    font-weight: 600;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-all;
  }

  &:hover {
    filter: brightness(125%);
  }
}
