@import 'src/styles/util.module.scss';

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-main-opacity);
  padding: 10px 15px;
  width: 110px;
  height: 80px;
  border-radius: 5px;
  border: 4px solid var(--bg-main-opacity);
  border-image-slice: 1;
  cursor: pointer;

  &__tag {
    color: var(--white);
    font-size: toRem(13);
    font-weight: 600;
    word-break: keep-all;
    text-align: center;
  }

  &--active {
    border-image-source: linear-gradient(
      to right,
      var(--primary),
      var(--secondary)
    );
  }
}
