@import 'src/styles/util.module.scss';

.root {
  width: 90%;
  max-width: 480px;
  height: 320px;
  padding: 20px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background: var(--primary);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='480' height='320' preserveAspectRatio='none' viewBox='0 0 480 320'%3e%3cg mask='url(%26quot%3b%23SvgjsMask2114%26quot%3b)' fill='none'%3e%3cpath d='M10.424%2c211.952C28.179%2c211.66%2c46.822%2c208.236%2c56.519%2c193.36C67.035%2c177.227%2c67.506%2c156.026%2c57.671%2c139.469C48.026%2c123.232%2c29.31%2c115.638%2c10.424%2c115.761C-8.226%2c115.882%2c-25.982%2c124.202%2c-35.769%2c140.078C-46.063%2c156.776%2c-48.984%2c178.421%2c-38.378%2c194.923C-28.394%2c210.457%2c-8.039%2c212.256%2c10.424%2c211.952' fill='rgba(255%2c 255%2c 255%2c 0.25)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M251.201%2c261.778C264.452%2c262.589%2c278.607%2c259.411%2c285.816%2c248.263C293.565%2c236.28%2c292.963%2c220.644%2c285.769%2c208.32C278.634%2c196.097%2c265.325%2c188.066%2c251.201%2c188.97C238.296%2c189.796%2c229.354%2c200.757%2c223.53%2c212.302C218.36%2c222.551%2c217.62%2c234.412%2c223.223%2c244.431C228.964%2c254.696%2c239.462%2c261.059%2c251.201%2c261.778' fill='rgba(255%2c 255%2c 255%2c 0.25)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M91.969%2c311.789C101.193%2c311.394%2c107.96%2c303.793%2c112.034%2c295.508C115.605%2c288.246%2c115.175%2c279.868%2c111.102%2c272.876C107.058%2c265.935%2c99.995%2c261.395%2c91.969%2c261.065C83.303%2c260.709%2c74.584%2c263.882%2c69.902%2c271.183C64.847%2c279.064%2c64.219%2c289.136%2c68.69%2c297.363C73.362%2c305.96%2c82.194%2c312.207%2c91.969%2c311.789' fill='rgba(255%2c 255%2c 255%2c 0.25)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M377.289%2c202.673C392.132%2c202.133%2c405.043%2c193.802%2c412.882%2c181.186C421.247%2c167.723%2c426.067%2c150.777%2c418.023%2c137.12C410.064%2c123.607%2c392.914%2c119.411%2c377.289%2c120.755C363.9%2c121.907%2c354.353%2c131.894%2c347.118%2c143.218C339.041%2c155.86%2c330.123%2c170.571%2c336.912%2c183.949C344.108%2c198.129%2c361.399%2c203.251%2c377.289%2c202.673' fill='rgba(255%2c 255%2c 255%2c 0.25)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M263.758%2c178.722C278.954%2c179.169%2c293.874%2c172.482%2c301.696%2c159.446C309.734%2c146.05%2c308.793%2c129.566%2c301.563%2c115.716C293.691%2c100.636%2c280.753%2c87.507%2c263.758%2c86.772C245.645%2c85.989%2c227.754%2c95.875%2c219.834%2c112.184C212.63%2c127.019%2c220.412%2c143.559%2c229.498%2c157.323C237.448%2c169.367%2c249.333%2c178.298%2c263.758%2c178.722' fill='rgba(255%2c 255%2c 255%2c 0.25)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask2114'%3e%3crect width='480' height='320' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e"),
    linear-gradient(215deg, var(--primary) 0%, var(--secondary) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &__dropZone {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px dashed var(--white-opacity);
    width: 60%;
    height: 25%;
    border-radius: 8px;
  }

  &__dropText {
    color: var(--white);
    font-size: toRem(13);
    font-weight: 600;
  }

  &__errorMessage {
    color: var(--error);
    font-size: toRem(12);
    word-break: break-word;
    text-align: center;
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
  }
}
