@import 'src/styles/util.module.scss';

.root {
  stroke: var(--white);
  cursor: pointer;
  outline: none;
  transition: transform 0.25s ease-in-out;

  &.upvote {
    &--active path {
      stroke: var(--success);
      fill: var(--success);
    }

    &:hover {
      transform: translateY(-2px);

      & path {
        transition: stroke, fill 0.25s ease-in-out;
        stroke: var(--success);
        fill: var(--success);
      }
    }
  }

  &.downvote {
    transform: rotate(180deg);

    &--active path {
      stroke: var(--error);
      fill: var(--error);
    }

    &:hover {
      transform: translateY(2px) rotate(180deg);

      & path {
        transition: stroke, fill 0.25s ease-in-out;
        stroke: var(--error);
        fill: var(--error);
      }
    }
  }
}
