.root {
  position: relative;

  &__menuButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    z-index: 20;
    background-color: var(--bg-main-opacity);
    border-radius: 4px;
    width: 25px;
    height: 20px;

    &:hover .root__point {
      background-color: var(--white);
    }
  }

  &__menuButtonPoint {
    width: 3px;
    height: 3px;
    background-color: var(--white-opacity);
    border-radius: 50%;
    transition: background-color 0.15s ease-in-out;
  }

  &__menu {
    position: absolute;
    right: 0;
    top: calc(100% + 10px);
    background-color: var(--white);
    border-radius: 4px;
    overflow: hidden;
  }
}
