@import 'src/styles/util.module.scss';

.root {
  padding: 10px 12px;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: var(--white);

  &__icon {
    color: var(--bg-main);
  }

  &__text {
    color: var(--bg-main);
    font-size: toRem(13);
    font-weight: 600;
    white-space: nowrap;
  }

  &:hover {
    filter: brightness(75%);
  }
}
